.buttonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 22px 16px 12px 16px;
  border-radius: 10px;
  background-color: var(--color-background-secondary);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
  gap: 4px;
}

.statusBadge {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.icon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -30px;
}

.icon svg,
.icon img {
  width: 100%;
  height: 100%;
}
