repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-merge-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: check-docstring-first
      - id: detect-private-key
      - id: mixed-line-ending
      - id: pretty-format-json
      - id: end-of-file-fixer
      - id: trailing-whitespace


      