name: Build Node Application

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
        description: 'Service name'

jobs:
  build-service:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        shell: bash
      - name: Security check with nestjs-security-scan
        run: pnpm nestjs-security-scan -p services/${{ inputs.service-name }} --no-interactive
