@font-face {
  font-family: "YS Text";
  src: url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.eot");
  src:
    url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/23a02e8af5ef33a9b496dd524401550f.svg#YS Text Regular Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root,
body {
  font-family: "YS Text", system-ui, -apple-system, sans-serif;
}
