{{- if .Values.initScript }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "postgresql.fullname" . }}-init
  labels:
    {{- include "postgresql.labels" . | nindent 4 }}
data:
  init.sql: |
{{ .Values.initScript | indent 4 }}
{{- end }}

