.block {
  min-height: var(--controls-navbar-height-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs) var(--spacing-md);
}

.leftSlot,
.rightSlot {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  padding: 0 var(--padding-xs);
}
