.number,
.dragHandle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  user-select: none;
}

.dragHandle {
  cursor: grab;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.dragHandle:active {
  cursor: grabbing;
}

.dragOverBefore::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #1976d2;
  z-index: 1;
}

.dragOverAfter::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #1976d2;
  z-index: 1;
}

.dragging {
  opacity: 0.5;
  transform: scale(0.98);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.numberInput {
  -moz-appearance: textfield;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
