ingress-nginx:
  controller:
    replicaCount: 2
    allowSnippetAnnotations: true
ingress:
  enabled: true
  name: ingress-main
  namespace: default
  rules:
    - service: service-hello
      port: 80
      path: /
    - service: frontend
      port: 80
      path: /frontend
    - service: backend
      port: 80
      path: /backend