ingress-nginx:
  controller:
    replicaCount: 2
    allowSnippetAnnotations: true
    config:
      use-http2: "true"
      http2-max-field-size: 16k
      http2-max-header-size: 32k
ingress:
  enabled: true
  name: ingress-main
  namespace: default
  tls:
    enabled: true
    secretName: supreme-tls-cert
    hosts:
      - supreme.local
  rules:
    - service: auth-ssr
      port: 80
      type: next
      paths:
        - path: /auth-ssr/.*
          method: GET
        - path: /login
          method: GET
        - path: /profile-old
          method: GET
        - path: /profile-old/[^/]+
          method: GET
        - path: /register
          method: GET
    - service: core-auth-bff
      port: 80
      type: nest
      paths:
        - path: /core-auth-bff/api/status
          method: GET
        - path: /core-auth-bff/auth/login
          method: POST
        - path: /core-auth-bff/auth/me
          method: GET
        - path: /core-auth-bff/auth/register
          method: POST
        - path: /core-auth-bff/auth/users/[^/]+
          method: GET
        - path: /core-auth-bff/auth/users/[^/]+
          method: DELETE
    - service: core-recipes-bff
      port: 80
      type: nest
      paths:
        - path: /core-recipes-bff/api/status
          method: GET
        - path: /core-recipes-bff/recipes
          method: GET
        - path: /core-recipes-bff/recipes/[^/]+
          method: GET
        - path: /core-recipes-bff/recipes/[^/]+
          method: PUT
        - path: /core-recipes-bff/recipes/[^/]+
          method: DELETE
        - path: /core-recipes-bff/recipes/[^/]+/like
          method: POST
        - path: /core-recipes-bff/recipes/propose
          method: POST
        - path: /core-recipes-bff/recipes/proposed/[^/]+/publish
          method: POST
        - path: /core-recipes-bff/recipes/proposed/all
          method: GET
    - service: frontend
      port: 80
      type: next
      paths:
        - path: /
          method: GET
        - path: /frontend/.*
          method: GET
        - path: /proposed-recipes
          method: GET
        - path: /recipes/[^/]+
          method: GET
        - path: /submit-recipe
          method: GET
    - service: web-profile-ssr
      port: 80
      type: next
      paths:
        - path: /api/500
          method: GET
        - path: /profile
          method: GET
        - path: /profile/dormitory
          method: GET
        - path: /profile/settings
          method: GET
        - path: /subjects/ranking
          method: GET
        - path: /web-profile-ssr/.*
          method: GET
