ingress-nginx:
  controller:
    replicaCount: 2
    allowSnippetAnnotations: true
ingress:
  enabled: true
  name: ingress-main
  namespace: default
  rules:
    - service: backend
      port: 80
      type: nest
      paths: []
    - service: frontend
      port: 80
      type: next
      paths:
        - path: /
          method: GET
        - path: /api/status
          method: GET
        - path: /login
          method: GET
        - path: /profile
          method: GET
        - path: /profile/[^/]+
          method: GET
        - path: /proposed-recipes
          method: GET
        - path: /recipes/[^/]+
          method: GET
        - path: /register
          method: GET
        - path: /submit-recipe
          method: GET
