ingress-nginx:
  controller:
    replicaCount: 2
    allowSnippetAnnotations: true
ingress:
  enabled: true
  name: ingress-main
  namespace: default
  rules:
    - service: backend
      port: 80
      type: nest
      paths:
        - path: /main-api/api/status
          method: GET
        - path: /main-api/recipes
          method: GET
        - path: /main-api/recipes/[^/]+
          method: GET
        - path: /main-api/recipes/[^/]+
          method: PUT
        - path: /main-api/recipes/[^/]+
          method: DELETE
        - path: /main-api/recipes/[^/]+/like
          method: POST
        - path: /main-api/recipes/proposed/[^/]+/publish
          method: POST
        - path: /main-api/recipes/proposed/all
          method: GET
        - path: /main-api/recipes/submit
          method: POST
    - service: core-auth-bff
      port: 80
      type: nest
      paths:
        - path: /core-auth-bff/api/status
          method: GET
        - path: /core-auth-bff/auth/login
          method: POST
        - path: /core-auth-bff/auth/me
          method: GET
        - path: /core-auth-bff/auth/register
          method: POST
        - path: /core-auth-bff/auth/users/[^/]+
          method: GET
        - path: /core-auth-bff/auth/users/[^/]+
          method: DELETE
    - service: frontend
      port: 80
      type: next
      paths:
        - path: /
          method: GET
        - path: /api/status
          method: GET
        - path: /login
          method: GET
        - path: /profile
          method: GET
        - path: /profile/[^/]+
          method: GET
        - path: /proposed-recipes
          method: GET
        - path: /recipes/[^/]+
          method: GET
        - path: /register
          method: GET
        - path: /submit-recipe
          method: GET
