ingress-nginx:
  controller:
    replicaCount: 2
    allowSnippetAnnotations: true
ingress:
  enabled: true
  name: ingress-main
  namespace: default
  rules:
    - service: frontend
      port: 80
      path: /
    - service: backend
      port: 80
      path: /api/

# TODO: Rolling strategy как у микросервисов 