name: Test E2E
description: 'Run e2e tests for provided services'

inputs:
<<<<<<< HEAD
  services:
    description: "Services name to test"
    required: false

runs:
  using: "composite"
  steps:
    - name: Install netstat
      run: sudo apt-get update && sudo apt-get install -y net-tools
      shell: bash

    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9
        
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: pnpm

    - name: Install dependencies
      run: pnpm install --frozen-lockfile
      shell: bash

    - name: Test E2E
      run: pnpm run e2e services=${{ inputs.services}} --no-interactive
      shell: bash
=======
	services:
		description: "Services name to test"
		required: false

jobs:
	test-e2e:
		runs-on: ubuntu-latest

		steps:
			- name: Install netstat
				run: sudo apt-get update && sudo apt-get install -y net-tools

			- name: Install pnpm
				uses: pnpm/action-setup@v4
				with:
					version: 9
			- name: Use Node.js
				uses: actions/setup-node@v4
				with:
					node-version: 20
					cache: pnpm

			- name: Install dependencies
				run: pnpm install --frozen-lockfile

			- name: Test E2E
				run: pnpm run e2e services=${{ inputs.services}} --no-interactive
>>>>>>> 8f31661 (minor: add e2e test workflow)
