name: ci for project
on:
  push:
    branches: [ main ]
  pull_request:
jobs:

  selective-checks:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    outputs:
      has-service-changes: ${{ steps.check-files.outputs.has-service-changes }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check changed files
        id: check-files
        run: |
          changed_files=$(git diff --name-only origin/${{ github.base_ref }}...HEAD)
          echo "$changed_files"
          if echo "$changed_files" | grep -qE '^(services/|package.json)$'; then
            echo "has-service-changes=true" >> $GITHUB_OUTPUT
            echo "detected service changes"
          else
            echo "has-service-changes=false" >> $GITHUB_OUTPUT
            echo "no service changes detected"
          fi

  check-lint:
    runs-on: ubuntu-latest
    if: needs.selective-checks.outputs.has-service-changes == 'true'
    strategy:
      matrix:
        node-version: [22]
    steps:
    - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: "pnpm"
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
      shell: bash
    - name: lint
      run: pnpm lint
    - name: tsc
      run: pnpm -r tsc
  check-unit:
    runs-on: ubuntu-latest
    if: needs.selective-checks.outputs.has-service-changes == 'true'
    strategy:
      matrix:
        node-version: [22]
    steps:
    - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: "pnpm"
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
      shell: bash
    - name: unit
      run: pnpm -r unit
