name: CI Pipeline
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  selective-checks:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    outputs:
      should-skip-service-checks: ${{ steps.check-files.outputs.should-skip-service-checks }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check changed files
        id: check-files
        run: |
          changed_files=$(git diff --name-only origin/${{ github.base_ref }}...HEAD)
          echo "$changed_files"
          if echo "$changed_files" | grep -qE '^(services/|package.json)$'; then
            echo "should-skip-service-checks=false" >> $GITHUB_OUTPUT
            echo "detected service changes"
          else
            echo "should-skip-service-checks=true" >> $GITHUB_OUTPUT
            echo "no service changes detected"
          fi
    


  check-lint:
    runs-on: ubuntu-latest
    if: needs.selective-checks.outputs.should-skip-service-checks != 'true'
    strategy:
      matrix:
        node-version: [22]
    steps:
    - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: "pnpm"
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
      shell: bash
    - name: lint
      run: pnpm lint
  check-tsc:
    runs-on: ubuntu-latest
    if: needs.selective-checks.outputs.should-skip-service-checks != 'true'
    strategy:
      matrix:
        node-version: [22]
    steps:
    - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: "pnpm"
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
      shell: bash
    - name: pnpm tsc
      run: pnpm -r tsc
  check-unit:
    runs-on: ubuntu-latest
    if: needs.selective-checks.outputs.should-skip-service-checks != 'true'
    outputs:
      coverage-available: ${{ steps.coverage-check.outputs.available }}
    strategy:
      matrix:
        node-version: [22]
    steps:
    - uses: actions/checkout@v4
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: "pnpm"
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
      shell: bash
    - name: unit
      run: pnpm -r unit:coverage
<<<<<<< HEAD

  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run e2e tests
        uses: ./.github/actions/test-e2e
        with:
          services: ""
=======
  test-e2e:
    runs-on: ubuntu-latest
    needs: [selective-checks]
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/workflows/jobs/test-e2e
      with:
        services: ""
>>>>>>> fe3e11b (minor: add e2e tests to ci)
