name: pre-commit checks
on:
  pull_request:
  push:
    branches: [main]
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: pip install pre-commit
      - run: pre-commit --version
      - run: pre-commit install
      - run: pre-commit run --all-files || true
      # Проверяем есть ли изменения. Если есть то совершаем коммит и пуш
      - id: check_changes
        run: |
          git diff --quiet && echo "::set-output name=changes_detected::false" || echo "::set-output name=changes_detected::true"
      - name: Commit and push changes
        if: steps.check_changes.outputs.changes_detected == 'true'
        env: 
          GH_TOKEN: ${{ github.token }}
        run: |
          git config --global user.email "sewaca7@gmail.com"
          git config --global user.name "sewaca"
          git add .
          git commit -m "Apply pre-commit hooks" || true  # || true чтобы действие не завершалось с ошибкой, если нет изменений для коммита
          git push