name: security checks for project
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Security scan check for service Backend
        uses: ./.github/workflows/jobs/nest-application-security-check
        with:
          service-name: 'backend'
